<div class="form-field" style="padding-left: 0">
    <div>
        <div class="radio-field">
            <input type="radio" id="male" name="gender">
            <label for="male">Male</label>
        </div>
        <div class="radio-field">
            <input type="radio" id="female" name="gender">
            <label for="female">Female</label>
        </div>
    </div>
</div>
<div class="Clear"></div>
<div class="form-field"  style="padding-left: 0">
    <div>
        <div class="radio-field">
            <input type="checkbox" id="reading">
            <label for="reading">Reading</label>
        </div>
        <div class="radio-field">
            <input type="checkbox" id="running">
            <label for="running">Running</label>
        </div>
    </div>
</div>