<div class="panel card full-width create-post">
    <div class="panel-header PaddZero">
        <ul>
            <li>
                <button class="active">
                    <i class="fa fa-pencil"></i>
                </button>
            </li>
            <li>
                <button>
                    <i class="fa fa-camera"></i>
                </button>
            </li>
            <li>
                <button>
                    <i class="fa fa-paperclip"></i>
                </button>
            </li>
            <li>
                <button>
                    <i class="fa fa-list-ul"></i>
                </button>
            </li>
            <li>
                <div class="dropdown small dropdown-open">
                    <button class="dropdown-trigger">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-content MargZero">
                        <li>
                            <a href="#">
                                <i class="fa fa-calendar"></i>
                                <span>Create Event</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-newspaper-o"></i>
                                <span>Create Article</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="Clear"></div>
    </div>
    <div class="panel-footer">
        <button class="button primary-button FR">Post</button>
        <div class="Clear"></div>
    </div>
</div>