<div class="events-list panel card" style="margin-top:20px">
    <div class="panel-header">
        <h3 class="Bold">Event Types</h3>
    </div>
    <ul>
        <li>
            <a href="#">
                <i class="fa fa-briefcase icon-margin"></i>
                <span class="Bold">Meetings</span> 
                <i class="fa fa-chevron-right"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-book icon-margin"></i>
                <span class="Bold">Trainings</span> 
                <i class="fa fa-chevron-right"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-building icon-margin"></i>
                <span class="Bold">Corporate</span> 
                <i class="fa fa-chevron-right"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-coffee icon-margin"></i>
                <span class="Bold">Social</span> 
                <i class="fa fa-chevron-right"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-futbol-o icon-margin"></i>
                <span class="Bold">Sports</span> 
                <i class="fa fa-chevron-right"></i>
            </a>
        </li>
    </ul>
</div>