<ul class="org-chart">
    <li class="manager">
        <a href="#" class="panel card">
            <div class="blurb">
                <div class="blurb-img">
                    <div class="blurb-photo" style="background:#ccc;"></div>
                </div>
                <div class="blurb-content">
                    <h5 class="Bold">Peter Smith</h5>
                    <label class="light-grey">UX Director</label>
                </div>
            </div>
        </a>
    </li>
    <li class="current-person people-card">
        <div class="panel card">
            <div class="blurb">
                <a class="blurb-img">
                    <div class="blurb-photo" style="background-color: #ccc"></div>
                </a>
                <div class="blurb-content">
                    <h3><a href="#">John Doe</a></h3>
                    <label class="people-info light-grey">Lead UX Designer</label>
                    <label class="people-info light-grey">ITWORX HUB</label>
                    <div class="dropdown opposite following-dropdown dropdown-">
                        <button class="dropdown-trigger button small-button">
                            <span>
                                <i class="fa fa-check icon-margin"></i>Following</span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-content">
                            <li>
                                <a href="#" class="unfollow-context">
                                    <i class="fa fa-eye-slash FL"></i>
                                    <label class="FL Bold">
                                        Unfollow John
                                        <br>
                                        <span class="light-grey normal-text">Stop receiving updates about John</span>
                                    </label>
                                    <div class="Clear"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer people-card-footer">
                <a href="#"><i class="fa fa-envelope"></i></a>
                <a href="#"><i class="fa fa-skype "></i></a>
                <a href="#"><i class="fa fa-user"></i></a>
            </div>
        </div>
    </li>
    <li class="direct-reports">
        <a href="#" class="panel card">
            <div class="blurb">
                <div class="blurb-img">
                    <div class="blurb-photo" style="background:#ccc;"></div>
                </div>
                <div class="blurb-content">
                    <h5 class="Bold">Peter Smith</h5>
                    <label class="light-grey">UX Designer</label>
                </div>
            </div>
        </a>
        <a href="#" class="panel card">
            <div class="blurb">
                <div class="blurb-img">
                    <div class="blurb-photo" style="background:#ccc;"></div>
                </div>
                <div class="blurb-content">
                    <h5 class="Bold">Peter Smith</h5>
                    <label class="light-grey">UX Designer</label>
                </div>
            </div>
        </a>
        <a href="#" class="panel card">
            <div class="blurb">
                <div class="blurb-img">
                    <div class="blurb-photo" style="background:#ccc;"></div>
                </div>
                <div class="blurb-content">
                    <h5 class="Bold">Peter Smith</h5>
                    <label class="light-grey">UX Designer</label>
                </div>
            </div>
        </a>
        <a href="#" class="panel card">
            <div class="blurb">
                <div class="blurb-img">
                    <div class="blurb-photo" style="background:#ccc;"></div>
                </div>
                <div class="blurb-content">
                    <h5 class="Bold">Peter Smith</h5>
                    <label class="light-grey">UX Designer</label>
                </div>
            </div>
        </a>
        <a href="#" class="panel card">
            <div class="blurb">
                <div class="blurb-img">
                    <div class="blurb-photo" style="background:#ccc;"></div>
                </div>
                <div class="blurb-content">
                    <h5 class="Bold">Peter Smith</h5>
                    <label class="light-grey">UX Designer</label>
                </div>
            </div>
        </a>
    </li>
</ul>