<div class="groups-grid">
    <div class="group-card">
        <div class="panel card">
            <a class="group-media" style="background-color: #ccc"></a>
            <div class="group-card-content FL">
                <h5><a class="Bold" href="#">User Experience</a></h5>
                <label class="light-grey">Private Group</label>
                <label class="light-grey">24 members</label>
                <label class="Bold">5 unread posts</label>
            </div>
            <div class="dropdown opposite small dropdown-open FR">
                <button class="dropdown-trigger button-icon">
                    <i class="fa fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-content MargZero">
                    <li>
                        <a href="#">
                            <i class="fa fa-star"></i>
                            <span>Add to Quick Links</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cog"></i>
                            <span>Group Settings</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-eye-slash"></i>
                            <span>Unfollow Group</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-remove"></i>
                            <span>Leave Group</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-trash"></i>
                            <span>Delete Group</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="Clear"></div>
        </div>
    </div>
</div>
    