<!--Apps Menu-->
<h2 style="text-align: center; font-size: 20px;margin-bottom: 20px">Apps Menu</h2>
<div class="dropdown opposite settings-menu menu-widget dropdown-open">
    <button class="dropdown-trigger FR"><i class="fa fa-th"></i></button>
    <div class="dropdown-content MargZero">
        <div class="arrow-up"></div>
        <div class="dropdown-header PaddZero">
            <header class="tab-control">
                <ul>
                    <li class="active">
                        <a href="#">Apps</a>
                    </li>
                    <li>
                        <a href="#">External Links</a>
                    </li>
                </ul>
            </header>
            <button class="close-button"></button>
        </div>
        <div class="dropdown-header search-container">
            <div class="search-bar full-width">
                <input type="search" class="form-control search-control" placeholder="Search Apps...">
                <input type="submit" value="">
            </div>
        </div>
        <div class="apps-body">
            
        </div>
        <div class="dropdown-footer">
            <a href="#">See All Apps</a>
        </div>
    </div>
</div>


<!--Notifications Menu-->
<h2 style="text-align: center; font-size: 20px;margin-bottom: 20px;margin-top:240px">Notifications Menu</h2>
<div class="dropdown opposite settings-menu menu-widget dropdown-open">
    <button class="dropdown-trigger FR"><i class="fa fa-bell"></i></button>
    <div class="dropdown-content MargZero">
        <div class="arrow-up"></div>
        <div class="dropdown-header PaddZero">
            <header class="tab-control">
                <ul>
                    <li class="active">
                        <a href="#">All</a>
                    </li>
                    <li>
                        <a href="#">Follows</a>
                    </li>
                    <li>
                        <a href="#">Invites</a>
                    </li>
                    <li>
                        <a href="#">Apps</a>
                    </li>
                </ul>
            </header>
            <button class="close-button"></button>
        </div>
        <div class="dropdown-header notification-actions">
            <a href="#" class="blue-color">Mark All as Read</a>
            <a href="#" class="blue-color FR">Settings</a>
        </div>
        <div class="apps-body">
            
        </div>
        <div class="dropdown-footer">
            <a href="#">See All Apps</a>
        </div>
    </div>
</div>