<div class="panel card">
    <ul class="mini-org-chart">
        <li class="manager">
            <div class="blurb">
                <a href="#" class="blurb-img">
                    <div class="blurb-photo" style="background:#ccc;"></div>
                </a>
                <div class="blurb-content">
                    <h3><a href="#" class="Bold">Peter Smith</a></h3>
                    <label class="light-grey">UX Director</label>
                </div>
            </div>
        </li>
        <li class="current-person manager">
            <div class="blurb">
                <a href="#" class="blurb-img">
                    <div class="blurb-photo" style="background:#ccc;"></div>
                </a>
                <div class="blurb-content">
                    <h3><a href="#" class="Bold">Peter Smith</a></h3>
                    <label class="light-grey">UX Director</label>
                </div>
            </div>
        </li>
        <li class="direct-reports">
            <ul>
                <li>
                    <div class="blurb">
                        <a href="#" class="blurb-img">
                            <div class="blurb-photo" style="background:#ccc;"></div>
                        </a>
                        <div class="blurb-content">
                            <h3><a href="#" class="Bold">Peter Smith</a></h3>
                            <label class="light-grey">UX Director</label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="blurb">
                        <a href="#" class="blurb-img">
                            <div class="blurb-photo" style="background:#ccc;"></div>
                        </a>
                        <div class="blurb-content">
                            <h3><a href="#" class="Bold">Peter Smith</a></h3>
                            <label class="light-grey">UX Director</label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="blurb">
                        <a href="#" class="blurb-img">
                            <div class="blurb-photo" style="background:#ccc;"></div>
                        </a>
                        <div class="blurb-content">
                            <h3><a href="#" class="Bold">Peter Smith</a></h3>
                            <label class="light-grey">UX Director</label>
                        </div>
                    </div>
                </li>
                <li class="see-more">
                    <button class="button default-button small-button">See More <i class="fa fa-caret-down"></i></button>
                </li>
            </ul>
        </li>
    </ul>
</div>