<header class="tab-control mini-side-nav">
    <ul>
        <li class="active">
            <a href="#"><i class="fa fa-comments icon-margin"></i>Discussion</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-rss icon-margin"></i>Followers</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-rss icon-margin"></i>Followers</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-rss icon-margin"></i>Followers</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-rss icon-margin"></i>Followers</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-rss icon-margin"></i>Followers</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-rss icon-margin"></i>Followers</a>
        </li>
    </ul>
</header>