<div class="pages-grid">
        <div class="page-card">
            <div class="panel card">
                <a class="page-media" style="background-color: #ccc"></a>
                <div class="page-card-content FL">
                    <h5><a class="Bold" href="#">Special Offers</a></h5>
                    <label class="Bold">3 pending submissions</label>
                    <label class="Bold">1 rejected submission</label>
                </div>
                <div class="dropdown opposite small dropdown-open FR">
                    <button class="dropdown-trigger button-icon">
                        <i class="fa fa-ellipsis-v"></i>
                    </button>
                    <ul class="dropdown-content MargZero">
                        <li>
                            <a href="#" class="set-default">
                                <i class="fa fa-universal-access FL"></i>
                                <label class="FL Bold">
                                    Set as Default Page 
                                    <br>
                                    <span class="light-grey normal-text">New users will be following</span>
                                </label>
                                <div class="Clear"></div>
                            </a>
                        </li>
                        <li class="list-separator"></li>
                        <li>
                            <a href="#">
                                <i class="fa fa-star"></i>
                                <span>Add to Quick Links</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-cog"></i>
                                <span>Page Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-eye-slash"></i>
                                <span>Unfollow Group</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-trash"></i>
                                <span>Delete Group</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="Clear"></div>
            </div>
        </di