<div class="people-grid">
    <div class="people-card">
        <section class="panel card">
            <div class="blurb">
                <a class="blurb-img">
                    <div class="blurb-photo" style="background-color: #ccc;background-image: url('/dist/images/amr-elsehemy.jpg');"></div>
                </a>
                <div class="blurb-content">
                    <h3><a href="#">Amr ElSehemy</a></h3>
                    <label class="people-info light-grey">Business Group Lead</label>
                    <label class="people-info light-grey">Digital Workplace</label>
                    <div class="dropdown opposite following-dropdown dropdown-">
                        <button class="dropdown-trigger button small-button">
                            <span>
                                <i class="fa fa-check icon-margin"></i>Following</span>
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <ul class="dropdown-content">
                            <li>
                                <a href="#" class="unfollow-context">
                                    <i class="fa fa-eye-slash FL"></i>
                                    <label class="FL Bold">
                                        Unfollow Page
                                        <br>
                                        <span class="light-grey normal-text">Stop receiving updates about this page</span>
                                    </label>
                                    <div class="Clear"></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-footer people-card-footer">
                <a href="#"><i class="fa fa-envelope"></i></a>
                <a href="#"><i class="fa fa-skype "></i></a>
                <a href="#"><i class="fa fa-sitemap"></i></a>
            </div>
        </section>
    </div>
</div>