<div class="page-content" style="height: 300px;">
    <div class="sticky-left-cont profile-left-cont" style="top:45px">
        <section class="panel card profile-card">
            <div class="blurb">
                <a class="blurb-img">
                    <div class="blurb-photo" style="background-color: #ccc;background-image: url('/dist/images/amr-elsehemy.jpg');"></div>
                </a>
                <div class="blurb-content">
                    <h3><a href="#">Amr ElSehemy</a></h3>
                    <label class="people-info light-grey">Business Group Lead</label>
                    <label class="people-info light-grey">Digital Workplace</label>
                    <button class="button primary-button small-button">
                        <i class="fa fa-rss icon-margin"></i>Follow
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>