<div class="dropdown opposite settings-menu dropdown-open">
        <button class="dropdown-trigger FR"><i class="fa fa-caret-down"></i></button>
        <div class="dropdown-content MargZero">
            <div class="arrow-up"></div>
            <div class="dropdown-header">
                <h3 class="Bold">Amr ElSehemy</h3>
                <button class="close-button"></button>
            </div>
            <ul>
                <li class="user-name">
                    <a href="#">
                        <div class="blurb-img">
                            <div class="blurb-photo" style="background-image: url('/dist/images/ibrahim-fahmy.jpg');"></div>
                        </div>
                        <span class="Bold blue-color">Amr ElSehemy</span>
                        <div class="Clear"></div>
                    </a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-mobile"></i><span>Download App</span></a>
                    <div class="Clear"></div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-cog"></i><span>Account Settings</span></a>
                    <div class="Clear"></div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-question-circle"></i><span>Help Center</span></a>
                    <div class="Clear"></div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-smile-o"></i><span>Send Feedback</span></a>
                    <div class="Clear"></div>
                </li>
                <li>
                    <a href="#" class="blue-color Bold">Admin Dashboard</a>
                </li>
                <li>
                    <a href="#"><span>Log Out</span></a>
                    <div class="Clear"></div>
                </li>
                <li>
                    <a href="#"><span>Switch User</span></a>
                    <div class="Clear"></div>
                </li>
            </ul>
        </div>
    </div>