<ul class="tab-filters">
    <li>
        <a href="#" class="card selected">
            <i class="fa fa-building icon-margin"></i>
            Departments
            <i class="fa fa-chevron-right"></i>
        </a>
    </li>
    <li>
        <a href="#" class="card">
            <i class="fa fa-users icon-margin"></i>
            Communities
            <i class="fa fa-chevron-right"></i>
        </a>
    </li>
    <li>
        <a href="#" class="card">
            <i class="fa fa-tags icon-margin"></i>
            Promotional
            <i class="fa fa-chevron-right"></i>
        </a>
    </li>
</ul>
<hr>