<div class="type-list panel card" style="background: white;height: 500px;">
        <h3>Choose an Event Type</h3>
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-briefcase icon-margin"></i>
                    <span>Meeting</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-book icon-margin"></i>
                    <span>Training</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-building icon-margin"></i>
                    <span>Corporate</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-coffee icon-margin"></i>Social
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-futbol-o icon-margin"></i>Sports
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul>
        <ul style="margin-top:20px">
            <li>
                <a href="#">
                    <i class="fa fa-users icon-margin"></i>
                    <span class="Bold">Team</span>
                    <br>
                    <span class="light-grey">Internal discussions for teams</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-briefcase icon-margin"></i>
                    <span class="Bold">Project</span>
                    <br>
                    <span class="light-grey">Collaborative space for project members</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-coffee icon-margin"></i>
                    <span class="Bold">Social</span>
                    <br>
                    <span class="light-grey">General interest & open discussions</span>
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </div>