@import 'functions/_grid-calc.scss';

/**********Media Queries**********/
$sm: "only screen and (min-width : 640px)";
$md: "only screen and (min-width : 960px)";
$lg: "only screen and (min-width : 1200px)";
@media #{$sm} {
    body{
        /**********sm Grid System**********/
        .sm-col-1{  
            width: column-width(1);  
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;  
        }
        .sm-col-2{  
            width: column-width(2);  
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;  
        }
        .sm-col-3{  
            width: column-width(3);  
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;  
        }
        .sm-col-4{  
            width: column-width(4);  
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;   
        }
        .sm-col-5{  
            width: column-width(5);   
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;  
        }
        .sm-col-6{  
            width: column-width(6); 
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;    
        }
        .sm-col-7{  
            width: column-width(7); 
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;    
        }
        .sm-col-8{  
            width: column-width(8); 
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;    
        }
        .sm-col-9{  
            width: column-width(9);   
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;  
        }
        .sm-col-10{  
            width: column-width(10); 
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;   

        }
        .sm-col-11{  
            width: column-width(11);   
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;  
        }
        .sm-col-12{  
            width: column-width(12);   
            padding-left: 0.625rem!important;
            padding-right: 0.625rem!important;
            float: left;  

        }

    }
  }
@media #{$md} {
  body{
      .md-col-1{  
        width: column-width(1);  
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        float: left;  

    }
    .md-col-2{  
        width: column-width(2);  
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        float: left;  
 
    }
    .md-col-3{  
        width: column-width(3);   
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        float: left;  

    }
    .md-col-4{  
        width: column-width(4);   
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        float: left;  

    }
    .md-col-5{  
        width: column-width(5); 
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        float: left;  

    }
    .md-col-6{  
        width: column-width(6);  
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        float: left;   

    }
    .md-col-7{  
        width: column-width(7);   
        padding-left: 0.625rem!important;
        padding-right: 0.625rem!important;
        float: left;

    }
    .md-col-8{  
        width: column-width(8);  
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        float: left;   

    }
    .md-col-9{  
        width: column-width(9);   
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        float: left;  

    }
    .md-col-10{  
        width: column-width(10);  
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        float: left;  
 
    }
    .md-col-11{  
        width: column-width(11);   
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        float: left;  

    }
    .md-col-12{  
        width: column-width(12);   
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        float: left;  

    }
  }
}
@media #{$lg} {
    body{
        .lg-col-1 {  
            width: column-width(1);  
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;  

        }
        .lg-col-2 {  
            width: column-width(2);  
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;  
 
        }
        .lg-col-3 {  
            width: column-width(3);  
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;   

        }
        .lg-col-4 {  
            width: column-width(4);  
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;   

        }
        .lg-col-5 {  
            width: column-width(5);   
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;  

        }
        .lg-col-6 {  
            width: column-width(6);  
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;   

        }
        .lg-col-7 {  
            width: column-width(7);  
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;   

        }
        .lg-col-8 {  
            width: column-width(8);   
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;  

        }
        .lg-col-9 {  
            width: column-width(9);  
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;   

        }
        .lg-col-10 {  
            width: column-width(10);  
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;  
 
        }
        .lg-col-11 {  
            width: column-width(11); 
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;    

        }
        .lg-col-12 {  
            width: column-width(12);  
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;   

        }
    }
}