<div>
    <div class="row">
        <div class="sm-col-1"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">1</span></div></div>
        <div class="sm-col-1"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">1</span></div></div>
        <div class="sm-col-1"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">1</span></div></div>
        <div class="sm-col-1"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">1</span></div></div>
        <div class="sm-col-1"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">1</span></div></div>
        <div class="sm-col-1"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">1</span></div></div>
        <div class="sm-col-1"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">1</span></div></div>
        <div class="sm-col-1"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">1</span></div></div>
        <div class="sm-col-1"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">1</span></div></div>
        <div class="sm-col-1"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">1</span></div></div>
        <div class="sm-col-1"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">1</span></div></div>
        <div class="sm-col-1"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">1</span></div></div>
    </div>
    <div class="row" style="margin-bottom: 16px;">
        <div class="sm-col-2"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">2</span></div></div>
        <div class="sm-col-2"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">2</span></div></div>
        <div class="sm-col-2"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">2</span></div></div>
        <div class="sm-col-2"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">2</span></div></div>
        <div class="sm-col-2"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">2</span></div></div>
        <div class="sm-col-2"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">2</span></div></div>
    </div>
    <div class="row" style="margin-bottom: 16px;">
        <div class="sm-col-3"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">3</span></div></div>
        <div class="sm-col-3"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">3</span></div></div>
        <div class="sm-col-3"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">3</span></div></div>
        <div class="sm-col-3"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">3</span></div></div>
    </div>
    <div class="row" style="margin-bottom: 16px;">
        <div class="sm-col-4"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">4</span></div></div>
        <div class="sm-col-4"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">4</span></div></div>
        <div class="sm-col-4"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">4</span></div></div>  
    </div>
    <div class="row" style="margin-bottom: 16px;">
        <div class="sm-col-6"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">6</span></div></div>  
        <div class="sm-col-6"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">6</span></div></div>  
    </div>
    <div class="row" style="margin-bottom: 16px;">
        <div class="sm-col-12"><div style="height: 50px; background-color: #2199ca; margin-bottom: 20px; color: #fff; text-align: center;"><span style="line-height: 50px;">12</span></div></div>  
    </div>
</div>