<!--Note: Remove the inline styles, this for demo purpose only-->

<div class="page-content">
    <div class="sticky-left-cont">
        <div style="height: 500px; border: 1px solid #ddd"></div>
    </div>
    <div class="main-container">
        <div class="middle-content sm-col-12 md-col-7">
            <div style="height: 500px; border: 1px solid #ddd"></div>
        </div>
        <div class="right-content sm-col-5">
            <div style="height: 500px; border: 1px solid #ddd"></div>
        </div>
    </div>
    <div class="Clear"></div>
</div>