@import '../base/breakpoints';
@import '../abstracts/variables';

.row {
	margin-left: -0.625rem;
	margin-right: -0.625rem;
}

@media #{$sm} {
    body{
        %grid-system-styles-sm {
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;
        }
        @for $i from 1 through $grid-columns {
            .sm-col-#{$i} { 
                width: 100% / $grid-columns * $i;
                @extend %grid-system-styles-sm; 
            }
        }
    }
}

@media #{$md} {
    body{
        %grid-system-styles-md {
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;
        }
        @for $i from 1 through $grid-columns {
            .md-col-#{$i} { 
                width: 100% / $grid-columns * $i;
                @extend %grid-system-styles-md; 
            }
        }
    }
}

@media #{$lg} {
    body{
        %grid-system-styles-lg {
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            float: left;
        }
        @for $i from 1 through $grid-columns {
            .lg-col-#{$i} { 
                width: 100% / $grid-columns * $i;
                @extend %grid-system-styles-lg; 
            }
        }
    }
}

.push-10 {
    left: calc(100% / 12 * 10);
}