// Grid System
//
// Nebula comes with a mobile-first, 12-column, responsive grid that you can use to create flexible layouts for a variety of screen sizes and device types.
//
// Markup: ./styleguide/grid-page.html
//
// Styleguide: Layout.GridSystem

@import '../base/breakpoints';
@import '../abstracts/variables';
.row {
    margin-left: -0.625rem;
    margin-right: -0.625rem;
}

body {
    @mixin grid-system-styles() {
        padding-left: 0.625rem;
        padding-right: 0.625rem;
        float: left;
    }
    @media #{$sm} {
        @for $i from 1 through $grid-columns {
            .sm-col-#{$i} {
                width: 100% / $grid-columns * $i;
                @include grid-system-styles();
            }
            .push-sm-#{$i} {
                left: 100% / $grid-columns * $i;
            }
            .pull-sm-#{$i} {
                right: 100% / $grid-columns * $i;
            }
            .offset-sm-#{$i} {
                margin-left: 100% / $grid-columns * $i;
            }
        }
    }
    @media #{$md} {
        @for $i from 1 through $grid-columns {
            .md-col-#{$i} {
                width: 100% / $grid-columns * $i;
                @include grid-system-styles();
            }
            .push-md-#{$i} {
                left: 100% / $grid-columns * $i;
            }
            .pull-md-#{$i} {
                right: 100% / $grid-columns * $i;
            }
            .offset-md-#{$i} {
                margin-left: 100% / $grid-columns * $i;
            }
        }
    }
    @media #{$lg} {
        @for $i from 1 through $grid-columns {
            .lg-col-#{$i} {
                width: 100% / $grid-columns * $i;
                @include grid-system-styles();
            }
            .push-lg-#{$i} {
                left: 100% / $grid-columns * $i;
            }
            .pull-lg-#{$i} {
                right: 100% / $grid-columns * $i;
            }
            .offset-lg-#{$i} {
                margin-left: 100% / $grid-columns * $i;
            }
        }
    }
}