// Create Post
//
// Markup: ./styleguide/createPost.html
//
// Styleguide: Content.Create Post

.create-post{
    border-radius: $theCurvyEdge;
    ul{
        li{
            float: left;
            margin: 0;
            button{
                // border-top-right-radius: $theCurvyEdge;
                // border-top-left-radius: $theCurvyEdge;
                padding: 0;
                width: 2.5rem;
                height: 2.25rem;
                text-align: center;
                color: #a1a1a1;
                border:none;
                background-color: #fff;
                line-height: 1;
                cursor: pointer;
                border-right: solid 1px #ddd;
                font-size: 0.875rem;
                &:hover, &:focus{
                    background-color: #f6f6f6;
                    color: $thePrimaryColor;
                    outline: none;
                }
                &.active{
                    background-color: $thePrimaryColor;
                    color: #fff;
                    &:focus{
                        background-color: $theBTNHoverColor;
                    }
                }
                &.dropdown-trigger {
                    border-radius: 0;
                }
            }
            .dropdown-content {
                margin: 0;
                margin-left: -1px;
            }
            &:first-child {
                button {
                    border-top-left-radius: $theCurvyEdge;
                }
            }
        }
    }
}