@import '../core/_breakpoints.scss';
.form-field{
    margin-top: 1.25rem;
    .form-label {
        text-align: inherit;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        line-height: 1.3;
        margin-top: 1px;
        display: inline-block;
        font-size: 0.875rem;
        color: $default-grey-color;
    }
    .form-control {
        font-size: 0.875rem;
        width: 100%;
        padding: 0.5em 0.75em;
        line-height: 1.3;
        background-color: #fff;
        border: 1px solid #ccc;
        -webkit-transition: background-color 0.2s;
        -moz-transition: background-color 0.2s;
        -o-transition: background-color 0.2s;
        transition: background-color 0.2s;
        box-sizing: border-box;
        color: $default-grey-color;
        &:focus{
            background-color: #f8f8f8;
            outline: none;
        }
        &:hover, &:focus{
            border-color: #aaa;
        }
        &[disabled]{
            color: #888;
            background-color: #EAEAEA;
            border-color: #DDD;
        }
    }
    texarea{
        resize: none !important;
    }
    .radio-field{
        margin-top: 0.3125em;
        input[type="radio"]{
            margin-left: -0.1rem;
            vertical-align: middle;
            margin-top: 0px;
        }
        input[type="checkbox"]{
            margin-left: -0.1rem;
            vertical-align: middle;
            margin-top: 0px;
        }
        label{
            color: $default-grey-color ;
            margin-bottom: 6px;
            padding-top: 1px;
            line-height: 20px;
            font-size: 0.875rem;
            cursor: pointer;
        }
    }
    &:first-child{
        margin-top: 0;
    }
    .date-picker, .time-picker{
        position: relative;
        &:after, &:after{
            width: 2.125rem;
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            color: #2199ca;
            font-family: 'FontAwesome';
            text-align: center;
            pointer-events: none;
        }
    }
    .date-picker:after{
        content: "\f073";
    }
    .date-picker input{
        padding-left: 1.875rem;
        cursor: pointer;
    }
    .time-picker:after{
        content: "\f017";
    }
    .time-picker select{
        padding-left: 1.5rem;
        text-transform: uppercase;
        padding-left: 0;
        text-indent: 1.5rem;
        line-height: 1.75rem;
    }
}
.search-bar{display: none}
@media #{$md}{
.search-bar {
    display: inline-block;
    position: relative;
    z-index: 5;
    width: 34rem;
    .search-control{
        height: 2.125rem;
        width:100%;
        background-color: #fff;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
        padding: 0.5em 0.75em;
        border: solid 1px #e4e4e4;
        font-size: 0.875rem;
        line-height: 1.3;
        color:$default-grey-color;
        &::placeholder{
            color: $lightgrey-color;
        }
        &:focus{
            border-color: #b8b8b8;
            &::placeholder{
                color: $default-grey-color;
            }
        }
    }
    input[type="submit"]{
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        height: auto;
        width: 2.125em;
        z-index: 1;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    &:after{
        right: 0.5em;
        content: "\f002";
        position: absolute;
        top: 50%;
        margin-top: -0.5em;
        width: 1em;
        height: 1em;
        font-family: 'FontAwesome';
        font-size: 1.25em;
        line-height: 1em;
        text-align: center;
        color: $default-grey-color;
    }
}
}
@media #{$md}{
    .form-field{
        padding-left: 11rem;
        .form-label {
            width: 10.8rem;
            margin-left: -11rem;
            padding-bottom: 0;
            float: left;
        }
    }
}