@import '../base/breakpoints';
.form-field {
    margin-top: 1.25rem;
    &:first-child {
        margin-top: 0;
    }
    .form-label {
        text-align: inherit;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        line-height: 1.3;
        margin-top: 1px;
        display: inline-block;
        font-size: 0.875rem;
        color: $default-grey-color;
    }
}

@media #{$md} {
    .form-field {
        padding-left: 11rem;
        .form-label {
            width: 10.8rem;
            margin-left: -11rem;
            padding-bottom: 0;
            float: left;
        }
    }
}