// Mini Organization Chart
//
// Markup: ./styleguide/miniOrgChart.html
//
// Styleguide: Components.Mini Organization Chart

.mini-org-chart{
    li{
        padding-bottom: 0.75rem;
        position: relative;
        line-height: 1.32;
        background: #fff;
        h3{
            font-size: 0.875rem;
        }
        label{
            font-size: 0.75rem;
        }
        .blurb-content{
            margin-left: 2.875rem;
        }
        &.manager:after {
            content: "";
            position: absolute;
            bottom: -1.6em;
            left: 1rem;
            right: 0;
            height: 2.125rem;
            border-left: 2px solid #ddd;
            border-bottom: 2px solid #ddd;
        }
        &.current-person .blurb{
            border: 2px solid $thePrimaryColor;
            padding: 0.375rem;
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
    > li:nth-child(2) {
        margin-left: 2rem;
    }
    > li:nth-child(3) {
        margin-left: 4rem;
    }
    .direct-reports li{
        &.see-more {
            padding-top: 0.375rem;
        }
        &:after {
        content: "";
        position: absolute;
        bottom: -1.6em;
        left: -1rem;
        right: 0;
        height: 3.125rem;
        border-left: 2px solid #ddd;
        border-bottom: 2px solid #ddd;
        }
        &:last-child:after{
            display: none;
        }
    }
}
