// Page Title
//
// Markup: ./styleguide/pageTitle.html
//
// Styleguide: Components.Page Title

.page-title-blue{
    padding: 0.5rem 0.75rem 0.625rem;
    background-color: #036892;
    color: #fff;
    margin-bottom: 1.25rem;
    h2{
        font-size: 1.25rem;
    }
}