.form-field {
    .date-picker,
    .time-picker {
        position: relative;
        &:after,
        &:after {
            width: 2.125rem;
            position: absolute;
            top: 50%;
            left: 0;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            color: #2199ca;
            font-family: 'FontAwesome';
            text-align: center;
            pointer-events: none;
        }
    }
    .date-picker:after {
        content: "\f073";
    }
    .date-picker input {
        padding-left: 1.875rem;
        cursor: pointer;
    }
    .time-picker:after {
        content: "\f017";
    }
    .time-picker select {
        padding-left: 1.5rem;
        text-transform: uppercase;
        padding-left: 0;
        text-indent: 1.5rem;
        line-height: 1.75rem;
    }
}