.post{
    margin-bottom: 1.25rem;
    position: relative;
    * + &{
        margin-top: 1.25rem;
    }
    .post-info {
        margin-bottom: 0.75rem;
        padding-bottom: 0.5rem;
        color: #999;
        border-bottom: 1px solid #ddd;
    }
    .blurb-content{
        margin-left: 2.625rem;
        vertical-align: top;
        line-height: 1.2;
        .add-comment{
            margin-top: 1rem;
        }
    }
    .post-header{
		font-size: 1em;
        .blurb-content{
            .date-label{
                margin-top: 0.25rem;
                font-size: 0.75rem;
            }
            .destination i.fa-chevron-right{
                margin: 0 0.1875rem;
                position: relative;
                top: -0.0625rem;
                color: #808080;
                font-size: 0.625em;
            }
        }
    }
    .offer-actions {
        margin-top: 0.75rem;
        .offer-expiry {
            margin-top: 3px;
            span{
                vertical-align: middle;
            }
        }
    }
    .initials {
        height: 2.125rem;
        line-height: 2.125rem;
        font-size: 0.8125rem;
        letter-spacing: 0;
        text-align: center;
        margin: 0 auto;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        background-color: #2199ca;
        border-radius: 50%;
    }
    .post-action-counts{
        margin-top: 0.75rem;
        padding-top: 0.375rem;
        border-top: 1px solid #ddd;
        .reactions-count{
            transition: opacity 0.25s;
            &:hover{
                opacity: 0.75;
                text-decoration: none;
            }
        }
        a.post-action-count {
            display: inline-block;
            padding: 0.125rem 0;
            color: #999;
            font-size: 0.75rem;
            .reactions-icons {
                display: inline-block;
                margin-right: 0.25rem;
                vertical-align: middle;
                i{
                    float: right;
                    margin-right: -0.175rem;
                    font-size: 0.875rem;
                }
            }
        }
    }
    .post-actions {
        margin: 0.75rem -0.75rem -0.75rem;
        border-top: solid 1px #ddd;
        display: flex;
        .button, .button:hover, .button:focus {
            border:0;
            border-right: solid 1px #ddd;
            background-color: $white-color;
            padding: 0rem 1.5rem;
            height: 2.125rem;
            font-size: 0.8125rem;
            color: #848484;
            width: 33.3333%;
            cursor: pointer;
            &:hover, &:focus{
                background-color: #f6f6f6;
                color:$default-grey-color;
            }
            &:last-child{
                border-right: 0;
            }
            i{
                font-size: 1.125em;
                width: 1em;
                transform: translateY(0);
                opacity: 1;
            }
            .button-icon-title {
                margin-left: 0.375em;
            }
        }
    }
    .panel-footer{
        .comments-header, .comments-footer, .replies-header, .replies-footer {
            font-size: 0.75rem;
            font-weight: 700;
        }
        .comments-area{
            margin: 0;
            padding: 0;
            border: none;
            margin-bottom: 0.75rem;
            padding-bottom: 0.75rem;
            border-bottom: 1px solid #ddd;
            .comments-header {
                margin: -0.25rem 0 1rem;
                padding-bottom: 0.5rem;
                border-bottom: 1px solid #ddd;
            }
            .blurb.comment{
                margin: 0;
                display: block;
                .blurb-content {
                    line-height: 1.43;
                }
            }
            .blurb.comment + .blurb.comment, .blurb.reply {
                margin-top: 1rem;
            }
            .comment, .reply {
                position: relative;
            }
            .comment-actions {
                margin-top: 0.25rem;
                .comment-action{
                    float: left;
                    margin-right: 0.875rem;
                }
                a:hover, a:focus{
                    opacity: 0.75;
                    text-decoration: none;
                }
            }
            .replies-header {
                margin: 1rem 0;
                padding: 0.5rem 0;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
            }
        }
        .add-comment{
            .add-comment-form {
                position: relative;
                padding-right: 4.4075rem;
                textarea{
                    height: 30px;
                    padding: 0.28875rem 0.4rem;
                    line-height: 1.3;
                    overflow: hidden;
                    background-color: #fff;
                    border: 1px solid #ddd;
                    &:focus {
                        border:solid 1px #6ac4e8;
                        outline: none;
                    }
                }
                .comment-add-ons {
                    position: absolute;
                    top: 2px;
                    right: 4.4075rem;
                    padding: 0 0.125rem;
                    .add-attachment-to-comment {
                        position: relative;
                        margin-right: 0.25rem;
                        &:before {
                            content: "";
                            position: absolute;
                            top: 0.5rem;
                            right: -0.25rem;
                            height: 0.75rem;
                            border-right: 1px dotted #bbb;
                        }
                    }
                    .dropdown-trigger {
                        width: 1.25rem;
                        height: 1.70125rem;
                        padding: 0;
                        font-size: 1rem;
                        line-height: 1;
                        color: #bbbbbb;
                        background-color: transparent;
                        border: none;
                        -webkit-appearance: none;
                        appearance: none;
                        cursor: pointer;
                        &:hover, &:focus{
                            color: #2199ca;
                        }
                    }
                }
                .add-comment-button{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}
.reaction-icon.fa-heart, .post-actions .fi-button.user-heart {
    color: #f90e90;
}
.reaction-icon.fa-thumbs-up, .post-actions .fi-button.user-thumbs-up {
    color: #2199ca;
}

@media #{$md}{
    .post-actions{
        .button {
            width: auto!important;
            border-right: solid 1px #ddd!important;
        }
    }
}