// Table
//
// Markup: ./styleguide/table.html
//
// Styleguide: Content.Table

.table{
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    th {
        padding: 0.625rem 0.75rem;
        border-bottom: solid 1px #ddd;
        font-size: 0.875rem;
        font-weight: 700; 
        text-align: left;
    }
    
    td {
        padding: 0.625rem 0.75rem;
        border-bottom: solid 1px #ddd;
        font-size: 0.75rem;   
    }
    &.table-bordered{
        td, th {
            border: 1px solid #ddd;
        }
    }
    &.table-small{
        th {
            font-size: 0.875rem;
        }
        
        td {
            font-size: 0.75rem;
        }
        th, td{
            padding: 0.325rem 0.75rem;
        }
    }
    &.table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0,0,0,.05);
    }
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
