// Tab Control
//
// Markup: ./styleguide/tabControl.html
//
// Styleguide: Components.Tab Control

.tab-control{
    font-size: 0.875rem;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
    ul{
        li{
            display: inline-block;
            margin-left: 0.75rem;
            vertical-align: middle;
            &:first-child{
                margin-left: 0;
            }
            &.active{
                a{
                    font-weight: bold!important;
                    border-bottom: solid 3px #2199ca;
                    padding-bottom: 9px;
                }
            }
            a{
                padding: 12px;
                line-height: 1.4;
                display: block;
                color:$default-grey-color;
                &:hover, &:focus{
                    text-decoration: none;
                    border-bottom: solid 3px #2199ca;
                    padding-bottom: 9px;
                }
            }
        }
    }
}