// Tab Filters
//
// Markup: ./styleguide/tabFilters.html
//
// Styleguide: Components.Tab Filters

ul.tab-filters{
    margin-bottom: 1rem;
    li{
        display: inline-block;
        a{
            position: relative;
            display: inline-block;
            padding: 0.625em 0.75em 0.625em  2.25em;
            margin-right: 1rem;
            background-color: #f8f8f8;
            font-size: 0.875rem;
            text-decoration: none;
            vertical-align: middle;
            outline: none;
            transition: color 0.15s, background-color 0.15s, border-color 0.15s;
            &:hover{
                background-color: #f2f2f2;
            }
            &.selected{
                background-color: #2199ca;
                color: #fff;
                i.fa-chevron-right{
                    display: none;
                }
            }
            i{
                
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0.75em;
                width: 1em;
                height: 1em;
                line-height: 1em;
                text-align: center;
                &.icon-margin{
                    margin-right: 0.375em;
                }
                &.fa-chevron-right{
                    width: auto;
                    position: static;
                    margin-left: 0.625em;
                    transform: none;
                    font-size: 0.75em;
                }
            }
        }
    }
}