// Timeline Messages
//
// Markup: ./styleguide/timelineMessages.html
//
// Styleguide: Components.Timeline Messages

.timeline-msg{
    background-color: #edf6ff;
    box-shadow: 0 0 0 1px #d1e1e6;
    padding-right: 2.125rem;
    position: relative;
    padding: 0.5rem 0.75rem;
    margin-bottom: 1.25rem;
}