// Type Lists
//
// Markup: ./styleguide/typeLists.html
//
// Styleguide: Components.Type Lists

.type-list{
    h3{
        font-size: 0.875rem;
        font-weight: bold;
        margin-bottom: 0.75rem;
    }
    ul{
        li{
            border:solid 1px #ddd;
            background-color: #f8f8f8;
            border-top: 0;
            &:first-child{
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
                border-top: solid 1px #ddd;
            }
            &:last-child{
                border-bottom-left-radius: 0.25rem;
                border-bottom-right-radius: 0.25rem;
            }
            a{
                position: relative;
                display: block;
                padding: 0.625rem 0.75rem;
                padding-right: 2rem;
                text-decoration: none;
                color: $default-grey-color;
                &:hover, &:focus{
                    background-color: #f0f0f0;
                }   
                &:active{
                    background-color: #e8e8e8;
                }
                .fa.fa-chevron-right{
                    position: absolute;
                    top: 50%;
                    right: 0.75rem;
                    transform: translateY(-50%);
                    font-size: 0.75em;
                    margin-left: 0.25em;
                }
                i.icon-margin{
                    margin-right: 0.5rem;
                    margin-top: 0.25rem;
                    float: left;
                }
                span.light-grey{
                    font-size: 0.75rem;    
                    padding-left: 1.5rem;
                    line-height: 2
                }
            }
        }
    }
}