// Button
//
// Your standard button suitable for clicking.
//
// :hover   - Highlights when hovering.
// .shiny   - Do not press this big, shiny, red button.
//
// Markup: button.html
//
// Style guide: components.button

a.button.star{
  text-decoration: none;
  color: red;
  &.star-given{
    color: blue;
  }
  &.disabled{
    color: gray;
  }
}