@import 'typography';
@import 'breakpoints';
@import '../abstracts/mixins';
@import '../abstracts/variables';

@font-face {
    font-family: 'Lato';
    src: url('../../dist/fonts/Lato/lato-regular.eot');
    src: url('../../dist/fonts/Lato/lato-regular.eot?#iefix') format('embedded-opentype'),
         url('../../dist/fonts/Lato/lato-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../../dist/fonts/Lato/lato-bold.eot');
    src: url('../../dist/fonts/Lato/lato-bold.eot?#iefix') format('embedded-opentype'),
         url('../../dist/fonts/Lato/lato-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html,
body {
	font-family: 'Lato';
	font-size: 100%;
}

body {
	background-color: #eaeaea;
	color: $default-grey-color;
	margin: 0;
	padding: 0;
	line-height: 1.43;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

div {
	box-sizing: border-box
}

img,
svg {
	max-width: 100%;
}

input:focus,
label:focus,
button:focus {
	outline: none
}

small{
	font-size: 0.75rem;
}


h5{
	font-size: 0.875rem;
}

a{
	color: #2199ca;
	text-decoration: none;
	&:hover, &:focus {
		text-decoration: underline;
	}
}

/**********General Styles**********/

.row:before, .row:after, .tabs-vertical:before, .tabs-vertical:after, .tabs > ul:before, .tabs > ul:after, .tab-content:before, .tab-content:after, .form-field:before, .form-field:after, .check-radio:before, .check-radio:after, .validation:before, .validation:after, .form .hint:before, .form .hint:after, .panel-header:before, .panel-header:after, .panel-footer:before, .panel-footer:after, .modal-header:before, .modal-header:after, .modal-footer:before, .modal-footer:after, .post-actions:before, .post-actions:after, .comment-actions:before, .comment-actions:after, .breadcrumb:before, .breadcrumb:after, .progress:before, .progress:after{
	content: " ";
	display: table;
}

.Bold{
	font-weight: bold;
}

.normal-text{
	font-weight: normal;
}

.Marg0auto {
	margin: 0 auto
}

.DisplayBlock {
	display: block
}

.FL {
	float: left;
}

.FR {
	float: right;
}

.PosFixed {
	position: fixed
}

.Clear {
	clear: both;
}

.PaddZero{
	padding: 0!important;
}

.MargZero{
	margin: 0!important;
}

.full-width{
	width: 100%;
}

.Padd20 {
	padding: 1.25rem
}

.page-content {
	padding: 1.25rem 0 2.5rem;
	position: relative;
}

.panel {
    font-size: 0.875rem;
    padding: 0.75rem;
    .panel-header{
		background-color: #f6f6f6;
		border-bottom:solid 1px #ddd;
		margin: -0.75rem -0.75rem 0.75rem;
		padding: 0.625rem 0.75rem;
	}
    .panel-footer{
        background-color: #f6f6f6;
        border-top: solid 1px #ddd;
        margin: 0.75rem -0.75rem -0.75rem;
		padding: 0.75rem;
	}
}

.panel-header > *:last-child, .panel-footer > *:last-child {
    margin-bottom: 0;
}
.card{
    background-color: $white-color;
	@include box-shadow(0px, 0px, 3px, rgba(0, 0, 0, 0.2));
}

.light-grey{
	color: $lightgrey-color;
}

.icon-margin {
	margin-right: 0.375em;
}

.list-separator{
	margin: 0.375em 0;
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 0;
    border-right-width: 0;
	border-bottom-width: 0;
	border-color: #ddd;
}

@media #{$sm} {
	.page-content {
		max-width: 40rem;
		margin: 0 auto;
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media #{$md} {
	.page-content {
		position: relative;
		max-width: 67rem;
		padding-left: 1.4rem;
		padding-right: 1.4rem;
	}
}

@media #{$lg} {
	.page-content {
		max-width: 75rem;
	}
}
