$lightgrey-color: #999;
$white-color: #fff;
$default-grey-color: #5a5a5a;
$grid-columns: 12;
$small-button-height: 1.625rem;
$button-height: 2.4375em;

$thePrimaryColor: #008081;
$theBTNHoverColor: #5f9ea0;
$theBTNActiveColor: #20b2aa;
$theSecondaryColor: #008b8b;
$theCurvyEdge: 10px;
$theGlobalShadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
